<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">@ViewData["TitInt"]</div>
  <div class="card-body">
    <h5 class="card-title">@ViewData["TitMark"]</h5>
    <p class="card-text">@ViewData["Desc"]</p>
  </div>
</div>
